<%- include('partials/head.ejs') %>
<%- include('partials/nav.ejs') %>

<main>
    <header>
        <h1 class="display-1 bg-dark" style="color: azure; text-align: center;">¡Choose your fighter!</h1>
    </header>

    <img src="https://p4.wallpaperbetter.com/wallpaper/944/239/635/super-smash-bros-super-smash-bros-brawl-wallpaper-preview.jpg" width="100%" alt="team">

    <h1 style="text-align: center;"><%= titulo %></h1>

    <div class="container">

        <div class="row">

            <div class="col text-center">

                <form action="nuevo_personaje?_csrf=<%=csrfToken%>" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf" value = "<%= csrfToken %>">
                    <Label for = "nombre_personaje">Name: </Label>
                    <input type="text" name="nombre_personaje" placeholder="Character's name">
                    <br><br>

                    <div class="file-loading"> 
                        <Label for = "foto_personaje">Image: </Label>
                        <input type="file" name="foto_personaje">
                    </div>

                    <br><br>
                    <input type="submit" value="Add character" class="btn btn-primary">
                </form>
                <br>

            </div>

        </div>

    </div>

</main>