<%- include('partials/head.ejs') %>
<%- include('partials/nav.ejs') %>
<body>
    <header>
        <h1 class="display-1 bg-dark" style="color: azure; text-align: center;">This is part of your team</h1>
    </header>

    <main>

        <img src="https://pm1.narvii.com/6525/5f7068b64a7f8a32f6d885f8fc5e3cdcda3404d5_hq.jpg" width="100%" alt="team">

        <div style="text-align: center;">
            <h2>Your team:</h2>

            <ul style="text-align: center;">
                <% for (let personaje of lista_personajes){ %>
                    <%= personaje %><br><br>
                <% } %>
            </ul>

        </div>

        <div style="text-align: center;">
            <h2>Your Characters:</h2>
        </div>

        <div class="container">

            <div class = "row">

                <% for (let per_nuevo of lista_nuevo_personajes){ %>
        
                    <div class="col-sm-12 col-md-6 col-lg-4">

                        <div style="text-align: center;"><%= per_nuevo.nombre %><br></div>

                        <div class="card">
                            <img src='<%= per_nuevo.imagen %>' class="card-img-top">
                            <div class="card-body">
                                <p class="card-text" style="text-align: center;"><%= per_nuevo.nombre %></p>
                            </div>
                        </div>


                    </div>

                <% } %>


            </div>

            <% if (isLoggedIn) {%>

                <div class="row">

                    <div class="col text-center">
    
                        <button type="submit" class="btn btn-dark btn-lg"  onclick = ' window.location.href = "/historia/nuevo_personaje" ' >
                            ¡Choose you character!
                        </button>
    
                    </div>
    
                </div>

            <% }%>

            <% if (!isLoggedIn) {%>

                <div class="row">

                    <div class="col text-center">

                        <p>¡¡Go to log in to choose your characters!!</p>
    
                    </div>
    
                </div>


            <% }%>
            


        </div>

        


    </main>

</body>
</html>